.wrapp {
    border: 1px solid black;
    padding: 5px;
}
.loginsignuplayout #languagePicker {
    position: fixed;
    top: 30px;
    right: 30px;
}
.en { 
    margin-right: 15px; 
}
.is-complete {
    font-weight: bold;
}

/* SIGNUP - LOGIN */
.iconDelete {
    float: right;
}

/* LOADING */
.wrapp {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.loading {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
    position: absolute;
    top: 40%;
    left: 50%;
}
.wrapp .loading {
    border-style: double;
    border-color: #ccc transparent;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}